:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color1: white;
$color2: rgb(46, 46, 46);
$color3: rgb(0, 104, 136);

.red {
  color: red;
}
.purple {
  color: rgb(47, 0, 255);
}
.green {
  color: rgb(0, 195, 0);
}

body {
  user-select: none;
}

@import "mixin/mixin";
@import "./import.scss";

.not-found {
  height: 80vh;
  @include flex(column);
  > svg {
    font-size: 5rem;
  }
}

.container {
  max-width: 1367px;
  width: 100%;
  margin: auto;
  overflow: auto;
  > h1 {
    @include heading;
    margin: 1rem 0;
    text-align: left;
  }
}
